  <div class="row-fluid">
  
    <div class="span2">
        <h4><%= link_to @page.root.title, "/#{@page.root.slug}", :class => ((@page == @page.root) ? 'active' : '')  %></h4> 
        <ul class="nav nav-pills nav-stacked">
    		<% @page.root.children.order(:menu_priority).each do |child| %>
            <li>
              <%= link_to child.title, nested_page_path(child), :class => ((@page == child) ? 'active' : '') %>
              <% if @page.ancestors.include? child  or (child == @page and child.has_children?) %>
                <ul class="">
    				<% child.children.order(:menu_priority).each do |grandchild| %>
                  	<li><%= link_to grandchild.title, nested_page_path(grandchild), :class => ((@page == grandchild) ? 'active' : '') %></li>
                	<% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>    
    </div>

    <div class="span10">
        <h1><%= @page.title %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum justo at erat elementum in tempor nibh vehicula. Maecenas tincidunt semper egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu sapien justo, nec scelerisque sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Vivamus eu erat sem. Etiam at ante enim. </p> 

        <div class="span3 well" style="float : right">
          <h4>Other content</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum justo at erat elementum in tempor nibh vehicula. Maecenas tincidunt semper egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p> 
        </div>

        <%= @page.content.html_safe %>
    </div>
    
  </div>
